@charset "UTF-8";
/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
/* line 6, /Users/ChrisScavello/Viking-Code-School/Projects/Prep-Work/Basics/Simple-Blog-CMS/app/assets/stylesheets/reset/_reset.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
/* line 27, /Users/ChrisScavello/Viking-Code-School/Projects/Prep-Work/Basics/Simple-Blog-CMS/app/assets/stylesheets/reset/_reset.scss */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

/* line 31, /Users/ChrisScavello/Viking-Code-School/Projects/Prep-Work/Basics/Simple-Blog-CMS/app/assets/stylesheets/reset/_reset.scss */
body {
  line-height: 1;
}

/* line 34, /Users/ChrisScavello/Viking-Code-School/Projects/Prep-Work/Basics/Simple-Blog-CMS/app/assets/stylesheets/reset/_reset.scss */
ol, ul {
  list-style: none;
}

/* line 37, /Users/ChrisScavello/Viking-Code-School/Projects/Prep-Work/Basics/Simple-Blog-CMS/app/assets/stylesheets/reset/_reset.scss */
blockquote, q {
  quotes: none;
}

/* line 40, /Users/ChrisScavello/Viking-Code-School/Projects/Prep-Work/Basics/Simple-Blog-CMS/app/assets/stylesheets/reset/_reset.scss */
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

/* line 45, /Users/ChrisScavello/Viking-Code-School/Projects/Prep-Work/Basics/Simple-Blog-CMS/app/assets/stylesheets/reset/_reset.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*! normalize.css v3.0.2 | MIT License | git.io/normalize */
/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */
/* line 9, /Users/ChrisScavello/Viking-Code-School/Projects/Prep-Work/Basics/Simple-Blog-CMS/app/assets/stylesheets/reset/_normalize.scss */
html {
  font-family: sans-serif;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/**
 * Remove default margin.
 */
/* line 19, /Users/ChrisScavello/Viking-Code-School/Projects/Prep-Work/Basics/Simple-Blog-CMS/app/assets/stylesheets/reset/_normalize.scss */
body {
  margin: 0;
}

/* HTML5 display definitions
   ========================================================================== */
/**
 * Correct `block` display not defined for any HTML5 element in IE 8/9.
 * Correct `block` display not defined for `details` or `summary` in IE 10/11
 * and Firefox.
 * Correct `block` display not defined for `main` in IE 11.
 */
/* line 33, /Users/ChrisScavello/Viking-Code-School/Projects/Prep-Work/Basics/Simple-Blog-CMS/app/assets/stylesheets/reset/_normalize.scss */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block;
}

/**
 * 1. Correct `inline-block` display not defined in IE 8/9.
 * 2. Normalize vertical alignment of `progress` in Chrome, Firefox, and Opera.
 */
/* line 54, /Users/ChrisScavello/Viking-Code-School/Projects/Prep-Work/Basics/Simple-Blog-CMS/app/assets/stylesheets/reset/_normalize.scss */
audio,
canvas,
progress,
video {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */
}

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
/* line 67, /Users/ChrisScavello/Viking-Code-School/Projects/Prep-Work/Basics/Simple-Blog-CMS/app/assets/stylesheets/reset/_normalize.scss */
audio:not([controls]) {
  display: none;
  height: 0;
}

/**
 * Address `[hidden]` styling not present in IE 8/9/10.
 * Hide the `template` element in IE 8/9/11, Safari, and Firefox < 22.
 */
/* line 77, /Users/ChrisScavello/Viking-Code-School/Projects/Prep-Work/Basics/Simple-Blog-CMS/app/assets/stylesheets/reset/_normalize.scss */
[hidden],
template {
  display: none;
}

/* Links
   ========================================================================== */
/**
 * Remove the gray background color from active links in IE 10.
 */
/* line 89, /Users/ChrisScavello/Viking-Code-School/Projects/Prep-Work/Basics/Simple-Blog-CMS/app/assets/stylesheets/reset/_normalize.scss */
a {
  background-color: transparent;
}

/**
 * Improve readability when focused and also mouse hovered in all browsers.
 */
/* line 97, /Users/ChrisScavello/Viking-Code-School/Projects/Prep-Work/Basics/Simple-Blog-CMS/app/assets/stylesheets/reset/_normalize.scss */
a:active,
a:hover {
  outline: 0;
}

/* Text-level semantics
   ========================================================================== */
/**
 * Address styling not present in IE 8/9/10/11, Safari, and Chrome.
 */
/* line 109, /Users/ChrisScavello/Viking-Code-School/Projects/Prep-Work/Basics/Simple-Blog-CMS/app/assets/stylesheets/reset/_normalize.scss */
abbr[title] {
  border-bottom: 1px dotted;
}

/**
 * Address style set to `bolder` in Firefox 4+, Safari, and Chrome.
 */
/* line 117, /Users/ChrisScavello/Viking-Code-School/Projects/Prep-Work/Basics/Simple-Blog-CMS/app/assets/stylesheets/reset/_normalize.scss */
b,
strong {
  font-weight: bold;
}

/**
 * Address styling not present in Safari and Chrome.
 */
/* line 126, /Users/ChrisScavello/Viking-Code-School/Projects/Prep-Work/Basics/Simple-Blog-CMS/app/assets/stylesheets/reset/_normalize.scss */
dfn {
  font-style: italic;
}

/**
 * Address variable `h1` font-size and margin within `section` and `article`
 * contexts in Firefox 4+, Safari, and Chrome.
 */
/* line 135, /Users/ChrisScavello/Viking-Code-School/Projects/Prep-Work/Basics/Simple-Blog-CMS/app/assets/stylesheets/reset/_normalize.scss */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/**
 * Address styling not present in IE 8/9.
 */
/* line 144, /Users/ChrisScavello/Viking-Code-School/Projects/Prep-Work/Basics/Simple-Blog-CMS/app/assets/stylesheets/reset/_normalize.scss */
mark {
  background: #ff0;
  color: #000;
}

/**
 * Address inconsistent and variable font size in all browsers.
 */
/* line 153, /Users/ChrisScavello/Viking-Code-School/Projects/Prep-Work/Basics/Simple-Blog-CMS/app/assets/stylesheets/reset/_normalize.scss */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */
/* line 161, /Users/ChrisScavello/Viking-Code-School/Projects/Prep-Work/Basics/Simple-Blog-CMS/app/assets/stylesheets/reset/_normalize.scss */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

/* line 169, /Users/ChrisScavello/Viking-Code-School/Projects/Prep-Work/Basics/Simple-Blog-CMS/app/assets/stylesheets/reset/_normalize.scss */
sup {
  top: -0.5em;
}

/* line 173, /Users/ChrisScavello/Viking-Code-School/Projects/Prep-Work/Basics/Simple-Blog-CMS/app/assets/stylesheets/reset/_normalize.scss */
sub {
  bottom: -0.25em;
}

/* Embedded content
   ========================================================================== */
/**
 * Remove border when inside `a` element in IE 8/9/10.
 */
/* line 184, /Users/ChrisScavello/Viking-Code-School/Projects/Prep-Work/Basics/Simple-Blog-CMS/app/assets/stylesheets/reset/_normalize.scss */
img {
  border: 0;
}

/**
 * Correct overflow not hidden in IE 9/10/11.
 */
/* line 192, /Users/ChrisScavello/Viking-Code-School/Projects/Prep-Work/Basics/Simple-Blog-CMS/app/assets/stylesheets/reset/_normalize.scss */
svg:not(:root) {
  overflow: hidden;
}

/* Grouping content
   ========================================================================== */
/**
 * Address margin not present in IE 8/9 and Safari.
 */
/* line 203, /Users/ChrisScavello/Viking-Code-School/Projects/Prep-Work/Basics/Simple-Blog-CMS/app/assets/stylesheets/reset/_normalize.scss */
figure {
  margin: 1em 40px;
}

/**
 * Address differences between Firefox and other browsers.
 */
/* line 211, /Users/ChrisScavello/Viking-Code-School/Projects/Prep-Work/Basics/Simple-Blog-CMS/app/assets/stylesheets/reset/_normalize.scss */
hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
}

/**
 * Contain overflow in all browsers.
 */
/* line 221, /Users/ChrisScavello/Viking-Code-School/Projects/Prep-Work/Basics/Simple-Blog-CMS/app/assets/stylesheets/reset/_normalize.scss */
pre {
  overflow: auto;
}

/**
 * Address odd `em`-unit font size rendering in all browsers.
 */
/* line 229, /Users/ChrisScavello/Viking-Code-School/Projects/Prep-Work/Basics/Simple-Blog-CMS/app/assets/stylesheets/reset/_normalize.scss */
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

/* Forms
   ========================================================================== */
/**
 * Known limitation: by default, Chrome and Safari on OS X allow very limited
 * styling of `select`, unless a `border` property is set.
 */
/**
 * 1. Correct color not being inherited.
 *    Known issue: affects color of disabled elements.
 * 2. Correct font properties not being inherited.
 * 3. Address margins set differently in Firefox 4+, Safari, and Chrome.
 */
/* line 252, /Users/ChrisScavello/Viking-Code-School/Projects/Prep-Work/Basics/Simple-Blog-CMS/app/assets/stylesheets/reset/_normalize.scss */
button,
input,
optgroup,
select,
textarea {
  color: inherit;
  /* 1 */
  font: inherit;
  /* 2 */
  margin: 0;
  /* 3 */
}

/**
 * Address `overflow` set to `hidden` in IE 8/9/10/11.
 */
/* line 266, /Users/ChrisScavello/Viking-Code-School/Projects/Prep-Work/Basics/Simple-Blog-CMS/app/assets/stylesheets/reset/_normalize.scss */
button {
  overflow: visible;
}

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Firefox, IE 8/9/10/11, and Opera.
 * Correct `select` style inheritance in Firefox.
 */
/* line 277, /Users/ChrisScavello/Viking-Code-School/Projects/Prep-Work/Basics/Simple-Blog-CMS/app/assets/stylesheets/reset/_normalize.scss */
button,
select {
  text-transform: none;
}

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 */
/* line 290, /Users/ChrisScavello/Viking-Code-School/Projects/Prep-Work/Basics/Simple-Blog-CMS/app/assets/stylesheets/reset/_normalize.scss */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */
}

/**
 * Re-set default cursor for disabled elements.
 */
/* line 302, /Users/ChrisScavello/Viking-Code-School/Projects/Prep-Work/Basics/Simple-Blog-CMS/app/assets/stylesheets/reset/_normalize.scss */
button[disabled],
html input[disabled] {
  cursor: default;
}

/**
 * Remove inner padding and border in Firefox 4+.
 */
/* line 311, /Users/ChrisScavello/Viking-Code-School/Projects/Prep-Work/Basics/Simple-Blog-CMS/app/assets/stylesheets/reset/_normalize.scss */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
/* line 322, /Users/ChrisScavello/Viking-Code-School/Projects/Prep-Work/Basics/Simple-Blog-CMS/app/assets/stylesheets/reset/_normalize.scss */
input {
  line-height: normal;
}

/**
 * It's recommended that you don't attempt to style these elements.
 * Firefox's implementation doesn't respect box-sizing, padding, or width.
 *
 * 1. Address box sizing set to `content-box` in IE 8/9/10.
 * 2. Remove excess padding in IE 8/9/10.
 */
/* line 334, /Users/ChrisScavello/Viking-Code-School/Projects/Prep-Work/Basics/Simple-Blog-CMS/app/assets/stylesheets/reset/_normalize.scss */
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * Fix the cursor style for Chrome's increment/decrement buttons. For certain
 * `font-size` values of the `input`, it causes the cursor style of the
 * decrement button to change from `default` to `text`.
 */
/* line 346, /Users/ChrisScavello/Viking-Code-School/Projects/Prep-Work/Basics/Simple-Blog-CMS/app/assets/stylesheets/reset/_normalize.scss */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Address `appearance` set to `searchfield` in Safari and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari and Chrome
 *    (include `-moz` to future-proof).
 */
/* line 357, /Users/ChrisScavello/Viking-Code-School/Projects/Prep-Work/Basics/Simple-Blog-CMS/app/assets/stylesheets/reset/_normalize.scss */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  /* 2 */
  box-sizing: content-box;
}

/**
 * Remove inner padding and search cancel button in Safari and Chrome on OS X.
 * Safari (but not Chrome) clips the cancel button when the search input has
 * padding (and `textfield` appearance).
 */
/* line 370, /Users/ChrisScavello/Viking-Code-School/Projects/Prep-Work/Basics/Simple-Blog-CMS/app/assets/stylesheets/reset/_normalize.scss */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * Define consistent border, margin, and padding.
 */
/* line 379, /Users/ChrisScavello/Viking-Code-School/Projects/Prep-Work/Basics/Simple-Blog-CMS/app/assets/stylesheets/reset/_normalize.scss */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

/**
 * 1. Correct `color` not being inherited in IE 8/9/10/11.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 */
/* line 390, /Users/ChrisScavello/Viking-Code-School/Projects/Prep-Work/Basics/Simple-Blog-CMS/app/assets/stylesheets/reset/_normalize.scss */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * Remove default vertical scrollbar in IE 8/9/10/11.
 */
/* line 399, /Users/ChrisScavello/Viking-Code-School/Projects/Prep-Work/Basics/Simple-Blog-CMS/app/assets/stylesheets/reset/_normalize.scss */
textarea {
  overflow: auto;
}

/**
 * Don't inherit the `font-weight` (applied by a rule above).
 * NOTE: the default cannot safely be changed in Chrome and Safari on OS X.
 */
/* line 408, /Users/ChrisScavello/Viking-Code-School/Projects/Prep-Work/Basics/Simple-Blog-CMS/app/assets/stylesheets/reset/_normalize.scss */
optgroup {
  font-weight: bold;
}

/* Tables
   ========================================================================== */
/**
 * Remove most spacing between table cells.
 */
/* line 419, /Users/ChrisScavello/Viking-Code-School/Projects/Prep-Work/Basics/Simple-Blog-CMS/app/assets/stylesheets/reset/_normalize.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 424, /Users/ChrisScavello/Viking-Code-School/Projects/Prep-Work/Basics/Simple-Blog-CMS/app/assets/stylesheets/reset/_normalize.scss */
td,
th {
  padding: 0;
}

/* line 26, /Users/ChrisScavello/Viking-Code-School/Projects/Prep-Work/Basics/Simple-Blog-CMS/app/assets/stylesheets/_application.scss */
h1 {
  font-size: 3em;
}

/* line 29, /Users/ChrisScavello/Viking-Code-School/Projects/Prep-Work/Basics/Simple-Blog-CMS/app/assets/stylesheets/_application.scss */
h2 {
  font-size: 2.5em;
}

/* line 32, /Users/ChrisScavello/Viking-Code-School/Projects/Prep-Work/Basics/Simple-Blog-CMS/app/assets/stylesheets/_application.scss */
h3 {
  font-size: 2.25em;
}

/* line 35, /Users/ChrisScavello/Viking-Code-School/Projects/Prep-Work/Basics/Simple-Blog-CMS/app/assets/stylesheets/_application.scss */
h4 {
  font-size: 2em;
}

/* line 38, /Users/ChrisScavello/Viking-Code-School/Projects/Prep-Work/Basics/Simple-Blog-CMS/app/assets/stylesheets/_application.scss */
h5 {
  font-size: 1.75em;
}

/* line 41, /Users/ChrisScavello/Viking-Code-School/Projects/Prep-Work/Basics/Simple-Blog-CMS/app/assets/stylesheets/_application.scss */
h6 {
  font-size: 1.5em;
}

/* line 45, /Users/ChrisScavello/Viking-Code-School/Projects/Prep-Work/Basics/Simple-Blog-CMS/app/assets/stylesheets/_application.scss */
.clearfix:after, .form-submit:after, .content:after, footer:after {
  content: "";
  display: table;
  clear: both;
}

/* line 82, /Users/ChrisScavello/Viking-Code-School/Projects/Prep-Work/Basics/Simple-Blog-CMS/app/assets/stylesheets/_application.scss */
html,
body {
  color: #333;
}

/* line 86, /Users/ChrisScavello/Viking-Code-School/Projects/Prep-Work/Basics/Simple-Blog-CMS/app/assets/stylesheets/_application.scss */
a:visited {
  color: #235b8f;
}

/* line 89, /Users/ChrisScavello/Viking-Code-School/Projects/Prep-Work/Basics/Simple-Blog-CMS/app/assets/stylesheets/_application.scss */
a {
  color: #6fa8dc;
}

/* line 92, /Users/ChrisScavello/Viking-Code-School/Projects/Prep-Work/Basics/Simple-Blog-CMS/app/assets/stylesheets/_application.scss */
a:hover {
  color: #84b4e1;
}

/* line 96, /Users/ChrisScavello/Viking-Code-School/Projects/Prep-Work/Basics/Simple-Blog-CMS/app/assets/stylesheets/_application.scss */
h1,
h2,
h3,
h4,
h5,
h6 {
  color: #6fa8dc;
}

/* line 105, /Users/ChrisScavello/Viking-Code-School/Projects/Prep-Work/Basics/Simple-Blog-CMS/app/assets/stylesheets/_application.scss */
.wrap {
  max-width: 960px;
  margin: 2em auto;
}

/* line 110, /Users/ChrisScavello/Viking-Code-School/Projects/Prep-Work/Basics/Simple-Blog-CMS/app/assets/stylesheets/_application.scss */
.wrap h1 {
  text-align: center;
  padding: 1em;
}

/* line 126, /Users/ChrisScavello/Viking-Code-School/Projects/Prep-Work/Basics/Simple-Blog-CMS/app/assets/stylesheets/_application.scss */
.notice {
  position: fixed;
  top: 0;
  color: #eee;
  width: 100%;
  padding-top: 1em;
  padding-bottom: 1em;
  height: 2em;
  border-bottom: 4px solid #eee;
  background: #333;
  border-color: #73FF56;
}

/* line 130, /Users/ChrisScavello/Viking-Code-School/Projects/Prep-Work/Basics/Simple-Blog-CMS/app/assets/stylesheets/_application.scss */
.alert {
  position: fixed;
  top: 0;
  color: #eee;
  width: 100%;
  padding-top: 1em;
  padding-bottom: 1em;
  height: 2em;
  border-bottom: 4px solid #eee;
  background: #333;
  border-color: #FF3E41;
}

/* line 134, /Users/ChrisScavello/Viking-Code-School/Projects/Prep-Work/Basics/Simple-Blog-CMS/app/assets/stylesheets/_application.scss */
.notice .message,
.alert .message {
  text-align: center;
}

/* line 55, /Users/ChrisScavello/Viking-Code-School/Projects/Prep-Work/Basics/Simple-Blog-CMS/app/assets/stylesheets/_application.scss */
.notice .message:before {
  display: inline-block;
  border-radius: 0.125em;
  width: 2em;
  height: 2em;
  line-height: 2em;
  text-align: center;
}
/* line 66, /Users/ChrisScavello/Viking-Code-School/Projects/Prep-Work/Basics/Simple-Blog-CMS/app/assets/stylesheets/_application.scss */
.notice .message:before {
  color: #73FF56;
  border: 1px solid #73FF56;
  content: "\2714";
}

/* line 55, /Users/ChrisScavello/Viking-Code-School/Projects/Prep-Work/Basics/Simple-Blog-CMS/app/assets/stylesheets/_application.scss */
.alert .message:before {
  display: inline-block;
  border-radius: 0.125em;
  width: 2em;
  height: 2em;
  line-height: 2em;
  text-align: center;
}
/* line 74, /Users/ChrisScavello/Viking-Code-School/Projects/Prep-Work/Basics/Simple-Blog-CMS/app/assets/stylesheets/_application.scss */
.alert .message:before {
  color: #FF3E41;
  border: 1px solid #FF3E41;
  content: "\2716";
}
/* line 55, /Users/ChrisScavello/Viking-Code-School/Projects/Prep-Work/Basics/Simple-Blog-CMS/app/assets/stylesheets/_application.scss */
.alert .message:before:before {
  display: inline-block;
  border-radius: 0.125em;
  width: 2em;
  height: 2em;
  line-height: 2em;
  text-align: center;
}

/* line 145, /Users/ChrisScavello/Viking-Code-School/Projects/Prep-Work/Basics/Simple-Blog-CMS/app/assets/stylesheets/_application.scss */
.errors {
  padding-top: 16px;
  padding-bottom: 8px;
  background: #333;
  border-left: 4px solid #FF3E41;
  color: #eee;
}

/* line 152, /Users/ChrisScavello/Viking-Code-School/Projects/Prep-Work/Basics/Simple-Blog-CMS/app/assets/stylesheets/_application.scss */
.errors-title {
  color: #FF3E41;
  font-size: 1.25em;
  text-align: left;
}

/* line 157, /Users/ChrisScavello/Viking-Code-School/Projects/Prep-Work/Basics/Simple-Blog-CMS/app/assets/stylesheets/_application.scss */
.errors-title,
.errors-list,
.errors-description {
  margin-left: 32px;
  margin-bottom: 1em;
}

/* line 163, /Users/ChrisScavello/Viking-Code-School/Projects/Prep-Work/Basics/Simple-Blog-CMS/app/assets/stylesheets/_application.scss */
.errors-list {
  list-style: none;
}

/* line 55, /Users/ChrisScavello/Viking-Code-School/Projects/Prep-Work/Basics/Simple-Blog-CMS/app/assets/stylesheets/_application.scss */
.errors-description:before {
  display: inline-block;
  border-radius: 0.125em;
  width: 2em;
  height: 2em;
  line-height: 2em;
  text-align: center;
}
/* line 74, /Users/ChrisScavello/Viking-Code-School/Projects/Prep-Work/Basics/Simple-Blog-CMS/app/assets/stylesheets/_application.scss */
.errors-description:before {
  color: #FF3E41;
  border: 1px solid #FF3E41;
  content: "\2716";
}
/* line 55, /Users/ChrisScavello/Viking-Code-School/Projects/Prep-Work/Basics/Simple-Blog-CMS/app/assets/stylesheets/_application.scss */
.errors-description:before:before {
  display: inline-block;
  border-radius: 0.125em;
  width: 2em;
  height: 2em;
  line-height: 2em;
  text-align: center;
}

/* line 183, /Users/ChrisScavello/Viking-Code-School/Projects/Prep-Work/Basics/Simple-Blog-CMS/app/assets/stylesheets/_application.scss */
.btn {
  display: inline-block;
  border-radius: 4px;
  border: none;
  outline: none;
  padding: 8px;
  text-align: center;
}

/* line 186, /Users/ChrisScavello/Viking-Code-School/Projects/Prep-Work/Basics/Simple-Blog-CMS/app/assets/stylesheets/_application.scss */
.btn-primary {
  display: inline-block;
  border-radius: 4px;
  border: none;
  outline: none;
  padding: 8px;
  text-align: center;
  color: #eee;
  background: #6fa8dc;
}

/* line 190, /Users/ChrisScavello/Viking-Code-School/Projects/Prep-Work/Basics/Simple-Blog-CMS/app/assets/stylesheets/_application.scss */
textarea,
input[type="text"],
input[type="color"],
input[type="date"],
input[type="datetime"],
input[type="datetime-local"],
input[type="email"],
input[type="number"],
input[type="range"],
input[type="search"],
input[type="tel"],
input[type="time"],
input[type="url"],
input[type="week"],
input[type="password"] {
  width: 100%;
  padding-top: 8px;
  padding-bottom: 8px;
  margin-top: 8px;
  margin-bottom: 8px;
  border-radius: 4px;
  border: 1px solid #333;
}

/* line 214, /Users/ChrisScavello/Viking-Code-School/Projects/Prep-Work/Basics/Simple-Blog-CMS/app/assets/stylesheets/_application.scss */
input[type="text"],
input[type="color"],
input[type="date"],
input[type="datetime"],
input[type="datetime-local"],
input[type="email"],
input[type="number"],
input[type="range"],
input[type="search"],
input[type="tel"],
input[type="time"],
input[type="url"],
input[type="week"],
input[type="password"] {
  text-indent: 1em;
}

/* line 231, /Users/ChrisScavello/Viking-Code-School/Projects/Prep-Work/Basics/Simple-Blog-CMS/app/assets/stylesheets/_application.scss */
textarea:focus,
input[type="text"]:focus,
input[type="color"]:focus,
input[type="date"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="email"]:focus,
input[type="number"]:focus,
input[type="range"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="time"]:focus,
input[type="url"]:focus,
input[type="week"]:focus,
input[type="password"]:focus {
  outline: none;
  border: 1px solid #6fa8dc;
}

/* line 253, /Users/ChrisScavello/Viking-Code-School/Projects/Prep-Work/Basics/Simple-Blog-CMS/app/assets/stylesheets/_application.scss */
input[type="submit"] {
  display: inline-block;
  border-radius: 4px;
  border: none;
  outline: none;
  padding: 8px;
  text-align: center;
  color: #eee;
  background: #6fa8dc;
  float: right;
}

/* line 3, /Users/ChrisScavello/Viking-Code-School/Projects/Prep-Work/Basics/Simple-Blog-CMS/app/assets/stylesheets/frontend/_common.scss */
.content {
  width: 100%;
}

/* line 8, /Users/ChrisScavello/Viking-Code-School/Projects/Prep-Work/Basics/Simple-Blog-CMS/app/assets/stylesheets/frontend/_common.scss */
.posts,
.sidebar {
  float: left;
}

/* line 13, /Users/ChrisScavello/Viking-Code-School/Projects/Prep-Work/Basics/Simple-Blog-CMS/app/assets/stylesheets/frontend/_common.scss */
.posts {
  width: 75%;
}

/* line 16, /Users/ChrisScavello/Viking-Code-School/Projects/Prep-Work/Basics/Simple-Blog-CMS/app/assets/stylesheets/frontend/_common.scss */
.sidebar {
  width: 25%;
}

@media only screen and (max-width: 767px) {
  /* line 21, /Users/ChrisScavello/Viking-Code-School/Projects/Prep-Work/Basics/Simple-Blog-CMS/app/assets/stylesheets/frontend/_common.scss */
  .posts,
  .sidebar {
    float: none;
  }

  /* line 25, /Users/ChrisScavello/Viking-Code-School/Projects/Prep-Work/Basics/Simple-Blog-CMS/app/assets/stylesheets/frontend/_common.scss */
  .posts {
    width: calc(100% - 4em);
  }

  /* line 28, /Users/ChrisScavello/Viking-Code-School/Projects/Prep-Work/Basics/Simple-Blog-CMS/app/assets/stylesheets/frontend/_common.scss */
  .sidebar {
    width: calc(100% - 4em);
  }
}
/* line 33, /Users/ChrisScavello/Viking-Code-School/Projects/Prep-Work/Basics/Simple-Blog-CMS/app/assets/stylesheets/frontend/_common.scss */
.post-date,
.post-author,
.leave-comment,
.comment-date,
.comment-author {
  color: #333;
  text-decoration: underline;
  font-size: 1em;
}

/* line 43, /Users/ChrisScavello/Viking-Code-School/Projects/Prep-Work/Basics/Simple-Blog-CMS/app/assets/stylesheets/frontend/_common.scss */
.post .content,
.post .comments {
  display: none;
}

/* line 48, /Users/ChrisScavello/Viking-Code-School/Projects/Prep-Work/Basics/Simple-Blog-CMS/app/assets/stylesheets/frontend/_common.scss */
.post:target .excerpt {
  display: none;
}

/* line 51, /Users/ChrisScavello/Viking-Code-School/Projects/Prep-Work/Basics/Simple-Blog-CMS/app/assets/stylesheets/frontend/_common.scss */
.post:target .content,
.post:target .comments {
  display: block;
}

/* line 56, /Users/ChrisScavello/Viking-Code-School/Projects/Prep-Work/Basics/Simple-Blog-CMS/app/assets/stylesheets/frontend/_common.scss */
footer {
  padding: 1em;
  text-align: center;
}

/* line 3, /Users/ChrisScavello/Viking-Code-School/Projects/Prep-Work/Basics/Simple-Blog-CMS/app/assets/stylesheets/frontend/_comment.scss */
.comments {
  margin-top: 2em;
}

/* line 7, /Users/ChrisScavello/Viking-Code-School/Projects/Prep-Work/Basics/Simple-Blog-CMS/app/assets/stylesheets/frontend/_comment.scss */
.comments table,
.comments tbody,
.comments tr {
  width: 100%;
}

/* line 12, /Users/ChrisScavello/Viking-Code-School/Projects/Prep-Work/Basics/Simple-Blog-CMS/app/assets/stylesheets/frontend/_comment.scss */
.comments .form-submit,
.comments textarea {
  max-width: 256px;
  display: block;
  margin-left: 64px;
}

/* line 19, /Users/ChrisScavello/Viking-Code-School/Projects/Prep-Work/Basics/Simple-Blog-CMS/app/assets/stylesheets/frontend/_comment.scss */
.comment-title {
  padding-top: 8px;
  padding-bottom: 8px;
}

/* line 23, /Users/ChrisScavello/Viking-Code-School/Projects/Prep-Work/Basics/Simple-Blog-CMS/app/assets/stylesheets/frontend/_comment.scss */
.leave-comment,
.comment-date,
.comment-author {
  margin-left: 48px;
  font-size: 1em;
}

/* line 30, /Users/ChrisScavello/Viking-Code-School/Projects/Prep-Work/Basics/Simple-Blog-CMS/app/assets/stylesheets/frontend/_comment.scss */
.comment p:before,
.comment p:after {
  font-size: 1.5em;
  content: '"';
}

/* line 36, /Users/ChrisScavello/Viking-Code-School/Projects/Prep-Work/Basics/Simple-Blog-CMS/app/assets/stylesheets/frontend/_comment.scss */
.no-comments,
.comment {
  margin-top: 16px;
  margin-bottom: 16px;
  margin-left: 80px;
}

/* line 43, /Users/ChrisScavello/Viking-Code-School/Projects/Prep-Work/Basics/Simple-Blog-CMS/app/assets/stylesheets/frontend/_comment.scss */
.comment-form {
  margin-bottom: 2em;
}

/* line 47, /Users/ChrisScavello/Viking-Code-School/Projects/Prep-Work/Basics/Simple-Blog-CMS/app/assets/stylesheets/frontend/_comment.scss */
.form-submit {
  margin: 8px;
}

/* line 3, /Users/ChrisScavello/Viking-Code-School/Projects/Prep-Work/Basics/Simple-Blog-CMS/app/assets/stylesheets/frontend/_post.scss */
.post {
  padding: 1em;
  margin-bottom: 4em;
}

/* line 7, /Users/ChrisScavello/Viking-Code-School/Projects/Prep-Work/Basics/Simple-Blog-CMS/app/assets/stylesheets/frontend/_post.scss */
.post-date {
  padding-top: 8px;
}

/* line 10, /Users/ChrisScavello/Viking-Code-School/Projects/Prep-Work/Basics/Simple-Blog-CMS/app/assets/stylesheets/frontend/_post.scss */
.post-title,
.post-date,
.post-author {
  padding-bottom: 4px;
}

/* line 16, /Users/ChrisScavello/Viking-Code-School/Projects/Prep-Work/Basics/Simple-Blog-CMS/app/assets/stylesheets/frontend/_post.scss */
.post-date,
.post-author {
  margin-left: 32px;
}

/* line 21, /Users/ChrisScavello/Viking-Code-School/Projects/Prep-Work/Basics/Simple-Blog-CMS/app/assets/stylesheets/frontend/_post.scss */
.post .excerpt p,
.post .content p {
  text-indent: 2em;
  line-height: 1.5;
  margin-bottom: 8px;
}

/* line 28, /Users/ChrisScavello/Viking-Code-School/Projects/Prep-Work/Basics/Simple-Blog-CMS/app/assets/stylesheets/frontend/_post.scss */
.post .content,
.post .excerpt {
  margin-top: 32px;
  max-width: 480px;
  margin-left: 40px;
}

@media only screen and (max-width: 767px) {
  /* line 36, /Users/ChrisScavello/Viking-Code-School/Projects/Prep-Work/Basics/Simple-Blog-CMS/app/assets/stylesheets/frontend/_post.scss */
  .post .content p {
    max-width: 75%;
  }
}
/* line 41, /Users/ChrisScavello/Viking-Code-School/Projects/Prep-Work/Basics/Simple-Blog-CMS/app/assets/stylesheets/frontend/_post.scss */
.read-more:before {
  content: "[ ";
}

/* line 44, /Users/ChrisScavello/Viking-Code-School/Projects/Prep-Work/Basics/Simple-Blog-CMS/app/assets/stylesheets/frontend/_post.scss */
.read-more:after {
  content: "] ";
}

/* line 47, /Users/ChrisScavello/Viking-Code-School/Projects/Prep-Work/Basics/Simple-Blog-CMS/app/assets/stylesheets/frontend/_post.scss */
.read-more {
  font-size: 1.15em;
  color: #6fa8dc;
  margin-top: 16px;
  float: right;
}

/* line 53, /Users/ChrisScavello/Viking-Code-School/Projects/Prep-Work/Basics/Simple-Blog-CMS/app/assets/stylesheets/frontend/_post.scss */
.read-more a {
  text-decoration: underline;
}

/* line 57, /Users/ChrisScavello/Viking-Code-School/Projects/Prep-Work/Basics/Simple-Blog-CMS/app/assets/stylesheets/frontend/_post.scss */
pre.prettyprint {
  line-height: 1.15em;
  padding: 16px;
  border-radius: 4px;
  border: 2px solid #333;
  margin-top: 1em;
  margin-bottom: 1em;
  overflow: visible;
  white-space: normal;
}

/* line 67, /Users/ChrisScavello/Viking-Code-School/Projects/Prep-Work/Basics/Simple-Blog-CMS/app/assets/stylesheets/frontend/_post.scss */
pre.prettyprint ol {
  list-style: decimal;
}

/* line 70, /Users/ChrisScavello/Viking-Code-School/Projects/Prep-Work/Basics/Simple-Blog-CMS/app/assets/stylesheets/frontend/_post.scss */
pre.prettyprint ol li {
  margin-left: 2em;
}

/* line 77, /Users/ChrisScavello/Viking-Code-School/Projects/Prep-Work/Basics/Simple-Blog-CMS/app/assets/stylesheets/frontend/_post.scss */
pre.prettyprint .indent-1:before {
  content: " ";
}

/* line 77, /Users/ChrisScavello/Viking-Code-School/Projects/Prep-Work/Basics/Simple-Blog-CMS/app/assets/stylesheets/frontend/_post.scss */
pre.prettyprint .indent-2:before {
  content: "  ";
}

/* line 77, /Users/ChrisScavello/Viking-Code-School/Projects/Prep-Work/Basics/Simple-Blog-CMS/app/assets/stylesheets/frontend/_post.scss */
pre.prettyprint .indent-3:before {
  content: "   ";
}

/* line 77, /Users/ChrisScavello/Viking-Code-School/Projects/Prep-Work/Basics/Simple-Blog-CMS/app/assets/stylesheets/frontend/_post.scss */
pre.prettyprint .indent-4:before {
  content: "    ";
}

/* line 77, /Users/ChrisScavello/Viking-Code-School/Projects/Prep-Work/Basics/Simple-Blog-CMS/app/assets/stylesheets/frontend/_post.scss */
pre.prettyprint .indent-5:before {
  content: "     ";
}

/* line 77, /Users/ChrisScavello/Viking-Code-School/Projects/Prep-Work/Basics/Simple-Blog-CMS/app/assets/stylesheets/frontend/_post.scss */
pre.prettyprint .indent-6:before {
  content: "      ";
}

/* line 77, /Users/ChrisScavello/Viking-Code-School/Projects/Prep-Work/Basics/Simple-Blog-CMS/app/assets/stylesheets/frontend/_post.scss */
pre.prettyprint .indent-7:before {
  content: "       ";
}

/* line 77, /Users/ChrisScavello/Viking-Code-School/Projects/Prep-Work/Basics/Simple-Blog-CMS/app/assets/stylesheets/frontend/_post.scss */
pre.prettyprint .indent-8:before {
  content: "        ";
}

/* line 77, /Users/ChrisScavello/Viking-Code-School/Projects/Prep-Work/Basics/Simple-Blog-CMS/app/assets/stylesheets/frontend/_post.scss */
pre.prettyprint .indent-9:before {
  content: "         ";
}

/* line 77, /Users/ChrisScavello/Viking-Code-School/Projects/Prep-Work/Basics/Simple-Blog-CMS/app/assets/stylesheets/frontend/_post.scss */
pre.prettyprint .indent-10:before {
  content: "          ";
}

/* line 77, /Users/ChrisScavello/Viking-Code-School/Projects/Prep-Work/Basics/Simple-Blog-CMS/app/assets/stylesheets/frontend/_post.scss */
pre.prettyprint .indent-11:before {
  content: "           ";
}

/* line 77, /Users/ChrisScavello/Viking-Code-School/Projects/Prep-Work/Basics/Simple-Blog-CMS/app/assets/stylesheets/frontend/_post.scss */
pre.prettyprint .indent-12:before {
  content: "            ";
}

/* line 77, /Users/ChrisScavello/Viking-Code-School/Projects/Prep-Work/Basics/Simple-Blog-CMS/app/assets/stylesheets/frontend/_post.scss */
pre.prettyprint .indent-13:before {
  content: "             ";
}

/* line 77, /Users/ChrisScavello/Viking-Code-School/Projects/Prep-Work/Basics/Simple-Blog-CMS/app/assets/stylesheets/frontend/_post.scss */
pre.prettyprint .indent-14:before {
  content: "              ";
}

/* line 77, /Users/ChrisScavello/Viking-Code-School/Projects/Prep-Work/Basics/Simple-Blog-CMS/app/assets/stylesheets/frontend/_post.scss */
pre.prettyprint .indent-15:before {
  content: "               ";
}

/* line 77, /Users/ChrisScavello/Viking-Code-School/Projects/Prep-Work/Basics/Simple-Blog-CMS/app/assets/stylesheets/frontend/_post.scss */
pre.prettyprint .indent-16:before {
  content: "                ";
}

/* line 77, /Users/ChrisScavello/Viking-Code-School/Projects/Prep-Work/Basics/Simple-Blog-CMS/app/assets/stylesheets/frontend/_post.scss */
pre.prettyprint .indent-17:before {
  content: "                 ";
}

/* line 77, /Users/ChrisScavello/Viking-Code-School/Projects/Prep-Work/Basics/Simple-Blog-CMS/app/assets/stylesheets/frontend/_post.scss */
pre.prettyprint .indent-18:before {
  content: "                  ";
}

/* line 77, /Users/ChrisScavello/Viking-Code-School/Projects/Prep-Work/Basics/Simple-Blog-CMS/app/assets/stylesheets/frontend/_post.scss */
pre.prettyprint .indent-19:before {
  content: "                   ";
}

/* line 77, /Users/ChrisScavello/Viking-Code-School/Projects/Prep-Work/Basics/Simple-Blog-CMS/app/assets/stylesheets/frontend/_post.scss */
pre.prettyprint .indent-20:before {
  content: "                    ";
}

/* line 77, /Users/ChrisScavello/Viking-Code-School/Projects/Prep-Work/Basics/Simple-Blog-CMS/app/assets/stylesheets/frontend/_post.scss */
pre.prettyprint .indent-21:before {
  content: "                     ";
}

/* line 77, /Users/ChrisScavello/Viking-Code-School/Projects/Prep-Work/Basics/Simple-Blog-CMS/app/assets/stylesheets/frontend/_post.scss */
pre.prettyprint .indent-22:before {
  content: "                      ";
}

/* line 77, /Users/ChrisScavello/Viking-Code-School/Projects/Prep-Work/Basics/Simple-Blog-CMS/app/assets/stylesheets/frontend/_post.scss */
pre.prettyprint .indent-23:before {
  content: "                       ";
}

/* line 77, /Users/ChrisScavello/Viking-Code-School/Projects/Prep-Work/Basics/Simple-Blog-CMS/app/assets/stylesheets/frontend/_post.scss */
pre.prettyprint .indent-24:before {
  content: "                        ";
}

/* line 77, /Users/ChrisScavello/Viking-Code-School/Projects/Prep-Work/Basics/Simple-Blog-CMS/app/assets/stylesheets/frontend/_post.scss */
pre.prettyprint .indent-25:before {
  content: "                         ";
}

/* line 77, /Users/ChrisScavello/Viking-Code-School/Projects/Prep-Work/Basics/Simple-Blog-CMS/app/assets/stylesheets/frontend/_post.scss */
pre.prettyprint .indent-26:before {
  content: "                          ";
}

/* line 77, /Users/ChrisScavello/Viking-Code-School/Projects/Prep-Work/Basics/Simple-Blog-CMS/app/assets/stylesheets/frontend/_post.scss */
pre.prettyprint .indent-27:before {
  content: "                           ";
}

/* line 77, /Users/ChrisScavello/Viking-Code-School/Projects/Prep-Work/Basics/Simple-Blog-CMS/app/assets/stylesheets/frontend/_post.scss */
pre.prettyprint .indent-28:before {
  content: "                            ";
}

/* line 77, /Users/ChrisScavello/Viking-Code-School/Projects/Prep-Work/Basics/Simple-Blog-CMS/app/assets/stylesheets/frontend/_post.scss */
pre.prettyprint .indent-29:before {
  content: "                             ";
}

/* line 77, /Users/ChrisScavello/Viking-Code-School/Projects/Prep-Work/Basics/Simple-Blog-CMS/app/assets/stylesheets/frontend/_post.scss */
pre.prettyprint .indent-30:before {
  content: "                              ";
}

/* line 77, /Users/ChrisScavello/Viking-Code-School/Projects/Prep-Work/Basics/Simple-Blog-CMS/app/assets/stylesheets/frontend/_post.scss */
pre.prettyprint .indent-31:before {
  content: "                               ";
}

/* line 77, /Users/ChrisScavello/Viking-Code-School/Projects/Prep-Work/Basics/Simple-Blog-CMS/app/assets/stylesheets/frontend/_post.scss */
pre.prettyprint .indent-32:before {
  content: "                                ";
}

/* line 77, /Users/ChrisScavello/Viking-Code-School/Projects/Prep-Work/Basics/Simple-Blog-CMS/app/assets/stylesheets/frontend/_post.scss */
pre.prettyprint .indent-33:before {
  content: "                                 ";
}

/* line 77, /Users/ChrisScavello/Viking-Code-School/Projects/Prep-Work/Basics/Simple-Blog-CMS/app/assets/stylesheets/frontend/_post.scss */
pre.prettyprint .indent-34:before {
  content: "                                  ";
}

/* line 77, /Users/ChrisScavello/Viking-Code-School/Projects/Prep-Work/Basics/Simple-Blog-CMS/app/assets/stylesheets/frontend/_post.scss */
pre.prettyprint .indent-35:before {
  content: "                                   ";
}

/* line 77, /Users/ChrisScavello/Viking-Code-School/Projects/Prep-Work/Basics/Simple-Blog-CMS/app/assets/stylesheets/frontend/_post.scss */
pre.prettyprint .indent-36:before {
  content: "                                    ";
}

/* line 77, /Users/ChrisScavello/Viking-Code-School/Projects/Prep-Work/Basics/Simple-Blog-CMS/app/assets/stylesheets/frontend/_post.scss */
pre.prettyprint .indent-37:before {
  content: "                                     ";
}

/* line 77, /Users/ChrisScavello/Viking-Code-School/Projects/Prep-Work/Basics/Simple-Blog-CMS/app/assets/stylesheets/frontend/_post.scss */
pre.prettyprint .indent-38:before {
  content: "                                      ";
}

/* line 77, /Users/ChrisScavello/Viking-Code-School/Projects/Prep-Work/Basics/Simple-Blog-CMS/app/assets/stylesheets/frontend/_post.scss */
pre.prettyprint .indent-39:before {
  content: "                                       ";
}

/* line 77, /Users/ChrisScavello/Viking-Code-School/Projects/Prep-Work/Basics/Simple-Blog-CMS/app/assets/stylesheets/frontend/_post.scss */
pre.prettyprint .indent-40:before {
  content: "                                        ";
}

/* line 77, /Users/ChrisScavello/Viking-Code-School/Projects/Prep-Work/Basics/Simple-Blog-CMS/app/assets/stylesheets/frontend/_post.scss */
pre.prettyprint .indent-41:before {
  content: "                                         ";
}

/* line 77, /Users/ChrisScavello/Viking-Code-School/Projects/Prep-Work/Basics/Simple-Blog-CMS/app/assets/stylesheets/frontend/_post.scss */
pre.prettyprint .indent-42:before {
  content: "                                          ";
}

/* line 77, /Users/ChrisScavello/Viking-Code-School/Projects/Prep-Work/Basics/Simple-Blog-CMS/app/assets/stylesheets/frontend/_post.scss */
pre.prettyprint .indent-43:before {
  content: "                                           ";
}

/* line 77, /Users/ChrisScavello/Viking-Code-School/Projects/Prep-Work/Basics/Simple-Blog-CMS/app/assets/stylesheets/frontend/_post.scss */
pre.prettyprint .indent-44:before {
  content: "                                            ";
}

/* line 77, /Users/ChrisScavello/Viking-Code-School/Projects/Prep-Work/Basics/Simple-Blog-CMS/app/assets/stylesheets/frontend/_post.scss */
pre.prettyprint .indent-45:before {
  content: "                                             ";
}

/* line 77, /Users/ChrisScavello/Viking-Code-School/Projects/Prep-Work/Basics/Simple-Blog-CMS/app/assets/stylesheets/frontend/_post.scss */
pre.prettyprint .indent-46:before {
  content: "                                              ";
}

/* line 77, /Users/ChrisScavello/Viking-Code-School/Projects/Prep-Work/Basics/Simple-Blog-CMS/app/assets/stylesheets/frontend/_post.scss */
pre.prettyprint .indent-47:before {
  content: "                                               ";
}

/* line 77, /Users/ChrisScavello/Viking-Code-School/Projects/Prep-Work/Basics/Simple-Blog-CMS/app/assets/stylesheets/frontend/_post.scss */
pre.prettyprint .indent-48:before {
  content: "                                                ";
}

/* line 77, /Users/ChrisScavello/Viking-Code-School/Projects/Prep-Work/Basics/Simple-Blog-CMS/app/assets/stylesheets/frontend/_post.scss */
pre.prettyprint .indent-49:before {
  content: "                                                 ";
}

/* line 77, /Users/ChrisScavello/Viking-Code-School/Projects/Prep-Work/Basics/Simple-Blog-CMS/app/assets/stylesheets/frontend/_post.scss */
pre.prettyprint .indent-50:before {
  content: "                                                  ";
}

/* line 77, /Users/ChrisScavello/Viking-Code-School/Projects/Prep-Work/Basics/Simple-Blog-CMS/app/assets/stylesheets/frontend/_post.scss */
pre.prettyprint .indent-51:before {
  content: "                                                   ";
}

/* line 77, /Users/ChrisScavello/Viking-Code-School/Projects/Prep-Work/Basics/Simple-Blog-CMS/app/assets/stylesheets/frontend/_post.scss */
pre.prettyprint .indent-52:before {
  content: "                                                    ";
}

/* line 77, /Users/ChrisScavello/Viking-Code-School/Projects/Prep-Work/Basics/Simple-Blog-CMS/app/assets/stylesheets/frontend/_post.scss */
pre.prettyprint .indent-53:before {
  content: "                                                     ";
}

/* line 77, /Users/ChrisScavello/Viking-Code-School/Projects/Prep-Work/Basics/Simple-Blog-CMS/app/assets/stylesheets/frontend/_post.scss */
pre.prettyprint .indent-54:before {
  content: "                                                      ";
}

/* line 77, /Users/ChrisScavello/Viking-Code-School/Projects/Prep-Work/Basics/Simple-Blog-CMS/app/assets/stylesheets/frontend/_post.scss */
pre.prettyprint .indent-55:before {
  content: "                                                       ";
}

/* line 77, /Users/ChrisScavello/Viking-Code-School/Projects/Prep-Work/Basics/Simple-Blog-CMS/app/assets/stylesheets/frontend/_post.scss */
pre.prettyprint .indent-56:before {
  content: "                                                        ";
}

/* line 77, /Users/ChrisScavello/Viking-Code-School/Projects/Prep-Work/Basics/Simple-Blog-CMS/app/assets/stylesheets/frontend/_post.scss */
pre.prettyprint .indent-57:before {
  content: "                                                         ";
}

/* line 77, /Users/ChrisScavello/Viking-Code-School/Projects/Prep-Work/Basics/Simple-Blog-CMS/app/assets/stylesheets/frontend/_post.scss */
pre.prettyprint .indent-58:before {
  content: "                                                          ";
}

/* line 77, /Users/ChrisScavello/Viking-Code-School/Projects/Prep-Work/Basics/Simple-Blog-CMS/app/assets/stylesheets/frontend/_post.scss */
pre.prettyprint .indent-59:before {
  content: "                                                           ";
}

/* line 77, /Users/ChrisScavello/Viking-Code-School/Projects/Prep-Work/Basics/Simple-Blog-CMS/app/assets/stylesheets/frontend/_post.scss */
pre.prettyprint .indent-60:before {
  content: "                                                            ";
}

/* line 77, /Users/ChrisScavello/Viking-Code-School/Projects/Prep-Work/Basics/Simple-Blog-CMS/app/assets/stylesheets/frontend/_post.scss */
pre.prettyprint .indent-61:before {
  content: "                                                             ";
}

/* line 77, /Users/ChrisScavello/Viking-Code-School/Projects/Prep-Work/Basics/Simple-Blog-CMS/app/assets/stylesheets/frontend/_post.scss */
pre.prettyprint .indent-62:before {
  content: "                                                              ";
}

/* line 77, /Users/ChrisScavello/Viking-Code-School/Projects/Prep-Work/Basics/Simple-Blog-CMS/app/assets/stylesheets/frontend/_post.scss */
pre.prettyprint .indent-63:before {
  content: "                                                               ";
}

/* line 77, /Users/ChrisScavello/Viking-Code-School/Projects/Prep-Work/Basics/Simple-Blog-CMS/app/assets/stylesheets/frontend/_post.scss */
pre.prettyprint .indent-64:before {
  content: "                                                                ";
}

/* line 77, /Users/ChrisScavello/Viking-Code-School/Projects/Prep-Work/Basics/Simple-Blog-CMS/app/assets/stylesheets/frontend/_post.scss */
pre.prettyprint .indent-65:before {
  content: "                                                                 ";
}

/* line 77, /Users/ChrisScavello/Viking-Code-School/Projects/Prep-Work/Basics/Simple-Blog-CMS/app/assets/stylesheets/frontend/_post.scss */
pre.prettyprint .indent-66:before {
  content: "                                                                  ";
}

/* line 77, /Users/ChrisScavello/Viking-Code-School/Projects/Prep-Work/Basics/Simple-Blog-CMS/app/assets/stylesheets/frontend/_post.scss */
pre.prettyprint .indent-67:before {
  content: "                                                                   ";
}

/* line 77, /Users/ChrisScavello/Viking-Code-School/Projects/Prep-Work/Basics/Simple-Blog-CMS/app/assets/stylesheets/frontend/_post.scss */
pre.prettyprint .indent-68:before {
  content: "                                                                    ";
}

/* line 77, /Users/ChrisScavello/Viking-Code-School/Projects/Prep-Work/Basics/Simple-Blog-CMS/app/assets/stylesheets/frontend/_post.scss */
pre.prettyprint .indent-69:before {
  content: "                                                                     ";
}

/* line 77, /Users/ChrisScavello/Viking-Code-School/Projects/Prep-Work/Basics/Simple-Blog-CMS/app/assets/stylesheets/frontend/_post.scss */
pre.prettyprint .indent-70:before {
  content: "                                                                      ";
}

/* line 77, /Users/ChrisScavello/Viking-Code-School/Projects/Prep-Work/Basics/Simple-Blog-CMS/app/assets/stylesheets/frontend/_post.scss */
pre.prettyprint .indent-71:before {
  content: "                                                                       ";
}

/* line 77, /Users/ChrisScavello/Viking-Code-School/Projects/Prep-Work/Basics/Simple-Blog-CMS/app/assets/stylesheets/frontend/_post.scss */
pre.prettyprint .indent-72:before {
  content: "                                                                        ";
}

/* line 77, /Users/ChrisScavello/Viking-Code-School/Projects/Prep-Work/Basics/Simple-Blog-CMS/app/assets/stylesheets/frontend/_post.scss */
pre.prettyprint .indent-73:before {
  content: "                                                                         ";
}

/* line 77, /Users/ChrisScavello/Viking-Code-School/Projects/Prep-Work/Basics/Simple-Blog-CMS/app/assets/stylesheets/frontend/_post.scss */
pre.prettyprint .indent-74:before {
  content: "                                                                          ";
}

/* line 77, /Users/ChrisScavello/Viking-Code-School/Projects/Prep-Work/Basics/Simple-Blog-CMS/app/assets/stylesheets/frontend/_post.scss */
pre.prettyprint .indent-75:before {
  content: "                                                                           ";
}

/* line 77, /Users/ChrisScavello/Viking-Code-School/Projects/Prep-Work/Basics/Simple-Blog-CMS/app/assets/stylesheets/frontend/_post.scss */
pre.prettyprint .indent-76:before {
  content: "                                                                            ";
}

/* line 77, /Users/ChrisScavello/Viking-Code-School/Projects/Prep-Work/Basics/Simple-Blog-CMS/app/assets/stylesheets/frontend/_post.scss */
pre.prettyprint .indent-77:before {
  content: "                                                                             ";
}

/* line 77, /Users/ChrisScavello/Viking-Code-School/Projects/Prep-Work/Basics/Simple-Blog-CMS/app/assets/stylesheets/frontend/_post.scss */
pre.prettyprint .indent-78:before {
  content: "                                                                              ";
}

/* line 77, /Users/ChrisScavello/Viking-Code-School/Projects/Prep-Work/Basics/Simple-Blog-CMS/app/assets/stylesheets/frontend/_post.scss */
pre.prettyprint .indent-79:before {
  content: "                                                                               ";
}

/* line 77, /Users/ChrisScavello/Viking-Code-School/Projects/Prep-Work/Basics/Simple-Blog-CMS/app/assets/stylesheets/frontend/_post.scss */
pre.prettyprint .indent-80:before {
  content: "                                                                                ";
}

/* line 77, /Users/ChrisScavello/Viking-Code-School/Projects/Prep-Work/Basics/Simple-Blog-CMS/app/assets/stylesheets/frontend/_post.scss */
pre.prettyprint .indent-81:before {
  content: "                                                                                 ";
}

/* line 77, /Users/ChrisScavello/Viking-Code-School/Projects/Prep-Work/Basics/Simple-Blog-CMS/app/assets/stylesheets/frontend/_post.scss */
pre.prettyprint .indent-82:before {
  content: "                                                                                  ";
}

/* line 77, /Users/ChrisScavello/Viking-Code-School/Projects/Prep-Work/Basics/Simple-Blog-CMS/app/assets/stylesheets/frontend/_post.scss */
pre.prettyprint .indent-83:before {
  content: "                                                                                   ";
}

/* line 77, /Users/ChrisScavello/Viking-Code-School/Projects/Prep-Work/Basics/Simple-Blog-CMS/app/assets/stylesheets/frontend/_post.scss */
pre.prettyprint .indent-84:before {
  content: "                                                                                    ";
}

/* line 77, /Users/ChrisScavello/Viking-Code-School/Projects/Prep-Work/Basics/Simple-Blog-CMS/app/assets/stylesheets/frontend/_post.scss */
pre.prettyprint .indent-85:before {
  content: "                                                                                     ";
}

/* line 77, /Users/ChrisScavello/Viking-Code-School/Projects/Prep-Work/Basics/Simple-Blog-CMS/app/assets/stylesheets/frontend/_post.scss */
pre.prettyprint .indent-86:before {
  content: "                                                                                      ";
}

/* line 77, /Users/ChrisScavello/Viking-Code-School/Projects/Prep-Work/Basics/Simple-Blog-CMS/app/assets/stylesheets/frontend/_post.scss */
pre.prettyprint .indent-87:before {
  content: "                                                                                       ";
}

/* line 77, /Users/ChrisScavello/Viking-Code-School/Projects/Prep-Work/Basics/Simple-Blog-CMS/app/assets/stylesheets/frontend/_post.scss */
pre.prettyprint .indent-88:before {
  content: "                                                                                        ";
}

/* line 77, /Users/ChrisScavello/Viking-Code-School/Projects/Prep-Work/Basics/Simple-Blog-CMS/app/assets/stylesheets/frontend/_post.scss */
pre.prettyprint .indent-89:before {
  content: "                                                                                         ";
}

/* line 77, /Users/ChrisScavello/Viking-Code-School/Projects/Prep-Work/Basics/Simple-Blog-CMS/app/assets/stylesheets/frontend/_post.scss */
pre.prettyprint .indent-90:before {
  content: "                                                                                          ";
}

/* line 77, /Users/ChrisScavello/Viking-Code-School/Projects/Prep-Work/Basics/Simple-Blog-CMS/app/assets/stylesheets/frontend/_post.scss */
pre.prettyprint .indent-91:before {
  content: "                                                                                           ";
}

/* line 77, /Users/ChrisScavello/Viking-Code-School/Projects/Prep-Work/Basics/Simple-Blog-CMS/app/assets/stylesheets/frontend/_post.scss */
pre.prettyprint .indent-92:before {
  content: "                                                                                            ";
}

/* line 77, /Users/ChrisScavello/Viking-Code-School/Projects/Prep-Work/Basics/Simple-Blog-CMS/app/assets/stylesheets/frontend/_post.scss */
pre.prettyprint .indent-93:before {
  content: "                                                                                             ";
}

/* line 77, /Users/ChrisScavello/Viking-Code-School/Projects/Prep-Work/Basics/Simple-Blog-CMS/app/assets/stylesheets/frontend/_post.scss */
pre.prettyprint .indent-94:before {
  content: "                                                                                              ";
}

/* line 77, /Users/ChrisScavello/Viking-Code-School/Projects/Prep-Work/Basics/Simple-Blog-CMS/app/assets/stylesheets/frontend/_post.scss */
pre.prettyprint .indent-95:before {
  content: "                                                                                               ";
}

/* line 77, /Users/ChrisScavello/Viking-Code-School/Projects/Prep-Work/Basics/Simple-Blog-CMS/app/assets/stylesheets/frontend/_post.scss */
pre.prettyprint .indent-96:before {
  content: "                                                                                                ";
}

/* line 77, /Users/ChrisScavello/Viking-Code-School/Projects/Prep-Work/Basics/Simple-Blog-CMS/app/assets/stylesheets/frontend/_post.scss */
pre.prettyprint .indent-97:before {
  content: "                                                                                                 ";
}

/* line 77, /Users/ChrisScavello/Viking-Code-School/Projects/Prep-Work/Basics/Simple-Blog-CMS/app/assets/stylesheets/frontend/_post.scss */
pre.prettyprint .indent-98:before {
  content: "                                                                                                  ";
}

/* line 77, /Users/ChrisScavello/Viking-Code-School/Projects/Prep-Work/Basics/Simple-Blog-CMS/app/assets/stylesheets/frontend/_post.scss */
pre.prettyprint .indent-99:before {
  content: "                                                                                                   ";
}

/* line 77, /Users/ChrisScavello/Viking-Code-School/Projects/Prep-Work/Basics/Simple-Blog-CMS/app/assets/stylesheets/frontend/_post.scss */
pre.prettyprint .indent-100:before {
  content: "                                                                                                    ";
}

/* line 3, /Users/ChrisScavello/Viking-Code-School/Projects/Prep-Work/Basics/Simple-Blog-CMS/app/assets/stylesheets/frontend/_sidebar.scss */
.sidebar-title {
  margin-left: 0;
  font-size: 2em;
  padding-bottom: 16px;
}

/* line 8, /Users/ChrisScavello/Viking-Code-School/Projects/Prep-Work/Basics/Simple-Blog-CMS/app/assets/stylesheets/frontend/_sidebar.scss */
.sidebar-year {
  margin-left: 8px;
  padding-top: 8px;
  padding-bottom: 8px;
}

/* line 13, /Users/ChrisScavello/Viking-Code-School/Projects/Prep-Work/Basics/Simple-Blog-CMS/app/assets/stylesheets/frontend/_sidebar.scss */
.sidebar li {
  margin-left: 24px;
  margin-bottom: 8px;
  padding-left: 8px;
  padding-bottom: 2px;
}
