<% if object.errors.size > 0 %>
	<div class="errors">
		<h2 class="errors-title"><%= 'Error'.pluralize %>:</h2>
		<ul class="errors-list">
			<% object.errors.full_messages.each do |i| %>
				<li class="errors-description">
					<%= i %>
				</li>
			<% end %>
		</ul>
	</div>
<% end %>