<% if ! flash[:notice].blank? %>
	<div class="notice">
		<p class="message">
			<%= flash[:notice] %>
		</p>
	</div>
<% end %>

<% if ! flash[:alert].blank? %>
	<div class="alert">
		<p class="message">
			<%= flash[:alert] %>
		</p>
	</div>
<% end %>