<div class="index">
	<h2 class="index-title">Posts</h2>
	<%= render :partial => 'access/add' %>

	<% if @posts %>
		<%= render :partial => 'table' %>
	<% else %>
		<p>No posts yet</p>
	<% end %>
</div>