// post.scss

.post {
	padding: 1em;
	margin-bottom: 4em;
}
.post-date {
	padding-top: 8px;
}
.post-title,
.post-date,
.post-author {
	padding-bottom: 4px;
}

.post-date,
.post-author {
	margin-left: $margin-post-meta;
}

.post .excerpt p,
.post .content p {
	text-indent: 2em;
	line-height: 1.5;
	margin-bottom: 8px;
}

.post .content,
.post .excerpt {
	margin-top: 32px;
	max-width: 128px * 3.75;
	margin-left: $margin-post-content;
}

@media only screen and (max-width: 767px) {
	.post .content p {
		max-width: 75%;
	}
}

.read-more:before {
	content: "[\2001"
}
.read-more:after {
	content: "]\2001"
}
.read-more {
	font-size: 1.15em;
	color: $primary;
	margin-top: 16px;
	float: right;
}
.read-more a {
	text-decoration: underline;
}

pre.prettyprint {
	line-height: 1.15em;
	padding: 16px;
	border-radius: 4px;
	border: 2px solid $dark;
	margin-top: 1em;
	margin-bottom: 1em;
	overflow: visible;
	white-space: normal;
}
pre.prettyprint ol {
	list-style: decimal;
}
pre.prettyprint ol li {
	margin-left: 2em;
}
@mixin prettyprint-indent($max:100) {
	$indent: '';
	@for $i from 1 through $max {
		$indent: $indent + "\00a0";
		pre.prettyprint .indent-#{$i}:before {
			content: "#{$indent}";
		}
	}
}
@include prettyprint-indent();
